@use 'common';

.container{
    max-height: 200px; 
}

button {
    background-color: inherit;
    border: none;
    background-color: none;
    text-decoration: none;
    border-color: common.app-colors(primary);
}

.activatedButton{
    border: 1px solid common.app-colors(primary);
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    background-color: common.app-colors(primary);
    color: common.app-colors(appWhite);
    border-color: common.app-colors(primary800);
}

.optionContainer{
    border: 1px solid common.app-colors(primary);
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}

.optionContainer:hover{
    border-color:common.app-colors(primary800);
    color: common.app-colors(primary800);
}

.button{
    background-color: red;
}

.dropDownMenu{
    display: flex;
    padding-top: 15px ;
    padding-bottom: 10px ;
    width: 100%px;
    z-index: 1;   
}

.dropDown{
    display: inline-block;
    font-size:x-large;
    font-weight: 700;

}

.dropDown:hover {
    cursor: pointer;
}

.menuOption{
    padding: 5px;
    text-decoration: none !important;
    font-size: large;
    // background-color: inherit;
}

.menuOption:hover{
    color: common.app-colors(primary800);
}
.activatedText{
    padding: 5px;
    text-decoration: none;
    font-size: large;
    background-color: common.app-colors(primary);
    color: common.app-colors(appWhite);

}

.activatedText:hover{
    color: common.app-colors(primary800);
}
