// _layout.scss
@import 'variables';
@import 'mixins';

header {
  @include flex-center;
  background-color: $primary-color;
  color: white;
  padding: $spacing-unit * 0.5;
}

footer {
  @include flex-center;
  background-color: $secondary-color;
  color: white;
  padding: $spacing-unit * 0.5;
}

.container {
  @include flex-center(column);
  max-width: 1200px;
  margin: auto;
  padding: $spacing-unit;
}

